@media only screen and (max-height: 700px) {
	#coin {font-size: calc(60px);}
	#ps {font-size: calc(25px);}
	#layer {max-height: 40vh;overflow-y: auto;}
	p,button {font-size: 20px;}
	#achievements > p {
		font-size: calc(5px + 0.5vw);
	}
}

.tabulator {
	text-align: center;
}

button {
	font-size: calc(12.5px + 0.5vw);
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: 1px solid #20AEE3;
	z-index: 1;
	position: relative;
}

* {
	transition: all 0.4s;
}

#game {
	display: flex;
}

#zelocoin {
	border-right: 1px solid #AAA;
	padding-right: 5px;
	text-align: center;
	flex-grow: 2;
}

#zelocoin,#prestige {

}

#prestige {
	padding-left: 5px;
	/*min-width: 10%;*/
	flex-grow: 1;
}

#version {
	font-size: calc(4px + 1vw + 0.5vh);
}

#layer {
	max-height: 80vh;
	overflow-y: auto;
	margin: 0 5px 0 5px;
}

#coin {
	font-size: calc(38px + 1vw);
	text-align: center;
	width: 100%;
	color: #4802C2;
	text-shadow: #5002D9 0 0 5px;
}

#ps {
	font-size: calc(24px);
	text-align: center;
	width: 100%;
	color: #999;
}

#version {
	bottom: 0;
}

#achievementnotify {
	display: inline;
	opacity: 0;
}

#zinc {
	color: #AAA;
	text-shadow: black 1 1;
}

#zirconium {
	color: #555;
}

#zinc,#zirconium {
	font-size: 18px;
}

/*#achievements {
}*/

/*[theme="fancy"]:not(button) {
	font: italic 20px "Fira Sans", serif;
}

[theme="fancy"] button {
	font: italic 14px "Fira Sans", serif;
}
*/